.container {
    width: 100%;
    margin: 0;
    padding: 20px;
    background: linear-gradient(rgb(216, 247, 254), white); 
    margin-bottom: 50%;
  }
  
  .backButton {
    background-color: rgb(10, 174, 185);
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .heading {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .description {
    color: black;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="password"] {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: rgb(217, 217, 217);
    box-sizing: border-box;
  }
  
  .resetButton {
    background-color: rgb(10, 174, 185);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .popup {
    background-color: rgb(217, 217, 217);
    padding: 20px;
    margin-top: 20px;
  }
  
  .popup p {
    color: black;
    margin-bottom: 10px;
  }
  
  .okButton {
    background-color: rgb(10, 174, 185);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }